.learn {
    width: 100%;
    text-align: center;
    border: 1px black solid;
    padding: 10px;
    background-color: white;
}

.learn th {
    border-bottom: 1px black solid;
    background-color: black;
    color: white;
    padding: 10px 0;
}

.appr{
    background-color: rgb(0, 128, 0);
    position: relative;
    top: 0;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 2px rgba(255,255,255,0.3);
    transition: .3s;
    color: white;
    padding: 6px 11px;
    border-radius: 5px;
}
.appr:hover{
    background-color: rgb(0, 183, 0);
    top: 3px;
    box-shadow: none;
}
.del{
    background-color: rgb(171, 0, 0);
    position: relative;
    top: 0;
    cursor: pointer;
    border: none;
    box-shadow: 0 5px 2px rgba(255,255,255,0.3);
    transition: .3s;
    color: white;
    padding: 6px 11px;
    border-radius: 5px;
}
.del:hover{
    background-color: rgb(230, 0, 0);
    top: 3px;
    box-shadow: none;
}
button{
    margin: 3px;
}

.learn td {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-top: 5px;
}

.full-width{
    width: 99%;
}